body{margin:0 auto; padding:0 auto;}
html {
 
  scroll-behavior: smooth;
}
.header {
  float: left;
  width: 100%;
  text-align: center;
  color: #D2D2D2;
 
}

.menu li {
  display: inline;
  padding: 4em;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2em;
  cursor: pointer;
}
.menu a {
  color: #C3C3C3;
  text-decoration: none;
}
.header h2 {
  font-size: 140px;
  font-family: rochester;
  font-weight: 400;
  padding: 0em 3em;
  color:white;
}
.header span {
  color: moccasin;
}
.header p {
	 font-family: open sans;
  font-size: 24px;
  padding: 2em;
  font-weight: 400;
  color:white;
}
.bg {
  float: left;
width:100%;
  background-image: url("../image/intro-bg.jpg");
    background-image:linear-gradient(45deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../image/intro-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
 


/***headerends***/


.sections {
  float: left;
  width: 100%;
}

.section_1 h3 {
  text-align: center;
  font-family: Raleway;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  padding:1.6em;
  margin:0em;
    color:#444444;
}
.hr {width:5%;color:red; }


.pagecenter {
  float: none;
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
}



.part {
  float: left;
  width: 100%;
  padding:0em;
 
}

.section1 {
  float: left;
  width: 33%;
  text-align: center;
  
  
}
.section2 {
  float: left;
  width: 33%;
  text-align: center;
    
}
.section3 {
  float: left;
  width: 33%;
  text-align: center;
    
}

.img  {width:82%}


.section1 p,.section2 p,.section3 p{
	
	 font-family: open sans;
  font-size: 15px;
  padding: 2em;
  font-weight: 400;
  color:#B2B2B2
}
.section1 h4 ,.section2 h4 ,.section3 h4 {
	
font-family: Raleway;
  font-size: 24px;
  font-weight: 400;	
  color: #333333;
}

/**sectionsend**/


.story{ float:left;width:100%; background-color:#F6F6F6

}

.story1 {
  float: left;
  width: 50%;
  background-image: url("../image/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 570px;
}

.story2 {
  float: right;
  width: 40%;
  padding: 1em;
}
.story2 hr {
  width: 60px;
  color: red;
  margin: 0;
}
.story2 p {
  float: right;
  padding-left: 0em;
  padding-right: 11em;
  font-family: open sans;
  font-size: 15px;
  padding: 2em;
  font-weight: 400;
  color: #B2B2B2;
line-height: 2em;

}
.hr {
  width: 5%;
  color: red;
  margin: auto;
}


.story2 h3 {
  font-family: Raleway;
  font-size: 38px;
  color:#444444; 
 font-weight: 300;
}

/**storyends**/




.dish {
  float: left;
  width: 100%;
  padding: 5em 0em;
}



.dish_title {
  text-align: center;

font-family: Raleway;
  font-size: 35px;
  font-weight: 400;
  
}
.dish h3 {
  margin: 0.5em;
  color:#444444;
}


.bsmc {

    float: left;
    width: 100%;

}

.bs {
  float: left;
  width: 50%;
}

.part {
  float: left;
  width: 100%;
}

.bs1 {
  float: left;
  width: 76%;
}





.bs h3 {
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 400;
  color:#444444;
}

.bs hr {
  color: red;
  width: 12%;
}

.bs1 h4 {
  font-family: open sans;
  font-size: 20px;
  padding-left: 4em;
  font-weight: 400;
  margin: 0;
  color:#444444;
}



.bs1 p {
  font-family: open sans;
  font-size: 15px;
  font-weight: 400;
  color: #D7D7D7;
  padding-left: 6em;
}

.bs\.1 {
  float: right;
  width: 16%;
  color: #DADADA;
  font-size: 18px;
  font-weight: 400;
  font-family: Open sans;
}


/**dishends**/


.images {
  float: left;
  width: 100%;
  margin-top: 6em;
  padding: 0em;
  cursor: pointer;
}

.i1 img {
  float: left;
  width: 25%;
}

.i2 img {
  float: left;
  width: 25%;
}

.i3 img {
  float: left;
  width: 25%;
}

.i4 img {
  float: right;
  width: 25%;
}


/**imagesends**/


.chef {
  float: left;
  width: 100%;
margin-top:5em;
}
.chef1 {
  float: left;
  width: 50%;
}
.chef1 h3 {
  padding-right: 4em;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 400;
  color: #444444;
}
.chef1 hr{
  color: red;
  width: 14%;
  margin-left: 4em;
}
.chef1 p {
  color: #7D7D7D;
  font-size: 15px;
  font-weight: 400;
  font-family: Open sans;
  padding: 0em 7em;
}
.chef2{
	float:right;
	width:50%
}
.chef2 img {
  width: 87%;
  padding-top: 2em;
}

.contact {
  float: left;
  width: 100%;
  padding: 7em 0em;
  background-color: #333;
  color: #9F9F9F;
  margin-top: 6em;
}
.contacts {
  padding: 0em 5em;
}
.contact1 {
  float: left;
  width: 33.3%;
}
.contact2 {
  float: left;
  width: 33.3%;
}
.contact3 {
  float: left;
  width: 33.3%;
}
.hr2 {
  color: red;
  width: 10%;
  margin-top: 1em;
}
.contact h4 {
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact1 p, .contact2 p, .contact3 p {
  text-align: center;
  padding: 0.5em;
  font-size: 15px;
  font-weight: 400;
  font-family: Open sans;

}
/**contactends**/
.footer {
  float: left;
  width: 100%;
  background-color: #262626;
  color: #999;
  padding: 2em 0em;
}


.pagecenter1 {
  float: none;
  width: 100%;
  margin: 0 auto;
  max-width: 70%;
}

.foot2 {
  float: right;
  width: 33%;
  margin-top: -3em;
}

.icons li {
  display: inline;
  padding: 1em;
 
}